.disable-select{
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
/* For mobile phones: */
.giant-input{
    width: 90%;
    height: 4.6vw;
    padding: 0 2vw;
}
.dynamic-font{
    font-size: 3vw;
}
.dynamic-font-sm{
    font-size: 2.5vw;
}
@media only screen and (min-width: 600px) {
/* For tablets: */
    .giant-input{
        width: 75%;
    }
    .dynamic-font{
        font-size: 2.5vw;
    }
    .dynamic-font-sm{
        font-size: 2vw;
    }
}
@media only screen and (min-width: 768px) {
/* For desktop: */
    .giant-input{
        width: 60%;
    }
    .dynamic-font{
        font-size: 2vw;
    }
    .dynamic-font-sm{
        font-size: 1.5vw;
    }
}
.color-gray-light{
    color: #c6c2c2;
}
.color-red-light{
    color: #db7070;
}
.color-green-light{
    color: #5bd75b;
}
.color-blue-light{
    color: #66b3ff;
}
.display-inline-block{
    display:inline-block;
}
.full-width{
    width: 100%;
}
.text-center {
    text-align: center;
}
.text-left{
    text-align: left;
}
.margin-top-10p{
    margin-top: 10%;
}
.margin-bottom-10{
    margin-bottom: 10px;
}